model/* VARIABLE */
:root {
    --bodas: #f8f8f8;
}
@font-face {
    font-family: poppinsreg;
    src: url(poppins.regular.ttf);
}
/* ANIMATION */
@keyframes intro {
    from {opacity: 0%; transform: translateY(2rem);}
    to {opacity: 100% ; transform: translateY(0);}
}
@keyframes left {
    from {opacity: 0%; transform: translateX(-2rem);}
    to {opacity: 100% ; transform: translateX(0);}
}
@keyframes right {
    from {opacity: 0%; transform: translateX(2rem);}
    to {opacity: 100% ; transform: translateX(0);}
}
@keyframes konfirmasi {
    0% {}
    100% {}
}
@keyframes star {
    0% {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}
}
/* HTML */
html {
    user-select: none;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: poppinsreg;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppinsreg;
}
body {
        font-family: poppinsreg;
        margin: 0;
        background: url(bg_portofolio.jpg) no-repeat center;
        background-size: cover;
    }
.login-container, .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding: 20px;
    }
.login-box {
        background: #f8f8f810;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 12px #f8f8f844;
        width: 320px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px #f8f8f8 solid;
    }
h2 {
        text-align: center;
        color: #f8f8f8;
}
input, button {
        font-family: poppinsreg;
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 15px;
        text-align: center;
        background: #29293f80;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        color: white;
        cursor: pointer;
    }


/* PAGE 2 */
.grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 95%;
        max-width: 1100px;
        margin-top: 20px;
    }
#card1 {
        background: white;
        padding: 20px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        overflow-x: auto;
        background: #f8f8f810;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px #f8f8f8 solid ;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 4px 12px #f8f8f844;
    }

#card2 {
        background: white;
        padding: 20px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        overflow-x: auto;
        background: #f8f8f810;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px #f8f8f8 solid;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 4px 12px #f8f8f844;
        overflow: hidden;
}
h3 {
    color: #f8f8f8;
    text-align: center;
}
table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        table-layout: fixed;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
tr {
     background: #29293f80;
     border: #f8f8f8 solid 1px;
     overflow: hidden;
    }
th, td {
    color: #f8f8f8;
        padding: 10px;
        background: transparent;
    }


/* ANIMASI LOGIN */
button:hover {
    transition: ease 1s;
    background: #f8f8f8;
    color: #29293f;
    box-shadow: 0 0 10px #f8f8f830;
    scale: 1;
}
input:hover,input:focus,input:valid {
    transition: ease 1s;
    background: #f8f8f8;
    color: #29293f;
    box-shadow: 0 0 10px #f8f8f830;
    scale: 1;
}
.login-box {
    animation: intro 2s ease;
}
.login-box h2 {
    animation: intro 2.4s ease;
}
.login-box #user {
    animation: intro 2.8s ease;
}
.login-box #pass {
    animation: intro 3.2s ease;
}
.login-box .konfirm1 {
    animation: intro 3.6s ease;
}
/* ANIMASI PAGE 2 */
.main-container h2{animation: intro 1.5s;}

#card1 {animation: left 1.5s ease ;}
#nama {animation: left 1.8s ease ;}
#pemasukan {animation: left 2.1s ease ;}
#pengeluaran {animation: left 2.4s ease ;}
#keterangan {animation: left 2.7s ease ;}
#tanggal {animation: left 3s ease ;}
.kirim {animation: left 3.3s ease ;}

#card2 {animation: right 1.5s ease;}
#historyTable    {animation: right 2s ease;}

/* ANIMASI BINTANG */   
/*stars*/
.starport {
    display: flex;
    height: 22rem;
    width: 98.9vw;
    opacity: 100%;
    background-color: transparent;
    position: absolute;
    z-index: .9;
}
.starp1 {
    animation: star 5s infinite linear;
    animation-delay: 1s;

    display: flex;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 4rem;
    left: 3rem;

    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px white);
}
.starp2 {
    animation: star 5s infinite linear;
    animation-delay: ;

    display: flex;
    height: 4px;
    width: 4px;
    position: absolute;
    top: 9rem;
    left: 9rem;

    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px white);
}
.starp3 {
    animation: star 5s infinite linear;
    animation-delay: 2s;

    display: flex;
    height: 4px;
    width: 4px;
    position: absolute;
    top: 7rem;
    left: 25rem;

    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px white);
}
.starp4 {
    animation: star 5s infinite linear;
    animation-delay: 1.5s;

    display: flex;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 8rem;
    left: 35rem;

    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px white);
}
.starp5 {
    animation: star 5s infinite linear;
    animation-delay: 1.3s;

    display: flex;
    height: 3px;
    width: 3px;
    position: absolute;
    top: 4rem;
    left: 50rem;

    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(1px 1px 5px white);
}
